<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.packt.academic.student.portal.mapper.LoginMapper" >
     
	<select id="getAdmin" resultMap="loginAdmin" parameterType="map">
		SELECT * FROM tblAdminUser WHERE username = #{username} 
	</select>
	<resultMap type="org.packt.academic.student.portal.model.data.Tbladminuser" id="loginAdmin">
		<id property="username" column="username" />
		<result property="password" column="password" />
		
	</resultMap>
	
	<select id="getStudentUser" resultMap="loginStudent" parameterType="map">
		SELECT * FROM tblStudentUser WHERE username = #{username}
	</select>
	<resultMap type="org.packt.academic.student.portal.model.data.Tblstudentuser" id="loginStudent">
		<id property="username" column="username" />
		<result property="password" column="password" />
		
	</resultMap>
	
	<select id="getFacultyUser" resultMap="loginFaculty" parameterType="map">
		SELECT * FROM tblFacultyUser WHERE username = #{username}
	</select>
	<resultMap type="org.packt.academic.student.portal.model.data.Tblfacultyuser" id="loginFaculty">
		<id property="username" column="username" />
		<result property="password" column="password" />
	</resultMap>
	
	
</mapper>
