<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>ViewRendererServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRendererServlet</servlet-name>
    <url-pattern>/WEB-INF/servlet/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hello-controller</servlet-name>
    <servlet-class>
			org.apache.pluto.container.driver.PortletServlet
		</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>hello-controller</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello-controller</servlet-name>
    <url-pattern>/PlutoInvoker/hello-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signup-controller</servlet-name>
    <servlet-class>
			org.apache.pluto.container.driver.PortletServlet
		</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>signup-controller</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup-controller</servlet-name>
    <url-pattern>/PlutoInvoker/signup-controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>order-controller</servlet-name>
    <servlet-class>
			org.apache.pluto.container.driver.PortletServlet
		</servlet-class>
    <init-param>
      <param-name>portlet-name</param-name>
      <param-value>order-controller</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>order-controller</servlet-name>
    <url-pattern>/PlutoInvoker/order-controller</url-pattern>
  </servlet-mapping>
</web-app>