<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>Ch04</display-name>
	<!-- For additional context XML files -->
  <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
             /WEB-INF/jdbc.xml
             /WEB-INF/dao_services.xml
      </param-value>
  </context-param>
  <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
	<servlet>
		<servlet-name>hrms</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>hrms</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hrms</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	
	<servlet>  
        <servlet-name>chart</servlet-name>  
        <servlet-class>  
            org.jfree.chart.servlet.DisplayChart  
        </servlet-class>  
    </servlet>  
  
    <servlet-mapping>  
        <servlet-name>chart</servlet-name>  
        <url-pattern>/hrms/chart</url-pattern>  
    </servlet-mapping>  
	
	
	<error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
</web-app>